<% include ../partials/header %>

<div class="container-fluid student">
  <div class="row">
  
    <div class="col-md-3 student-profile">
      <div class="card">
        <img class="card-img-top" src="<%= profile.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= `${profile.first_name} ${profile.last_name}` %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= profile.school %></h6>
          <hr>
          <p class="card-text"><strong>Grade: </strong><%= profile.grade %></p>
          <p class="card-text"><strong>Height: </strong><%= profile.height %></p>
          <p class="card-text"><strong>Weight: </strong><%= profile.weight %> lb</p>
          <p class="card-text"><strong>Position: </strong><%= profile.position || 'N/A' %></p>
          <% if (user && user.coach) { %>
            <a href="/students/<%= profile.id %>/edit" class="btn btn-success btn-sm">Edit Profile</a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-student">Delete</button>
          <% } %>
        </div>
      </div>
    </div>

    <div class="col-md-5 remark">
      <div class="card">
        <div class="card-header">Strength</div>
        <div class="card-body">
          <p class="card-text"><%= profile.strength %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Weakness</div>
        <div class="card-body">
          <p class="card-text"><%= profile.weakness %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Coach comments 
          <% if (user && user.coach) { %>
            <a href="#" id="addCommentButton" style="float:right"><i class="fas fa-plus"></i>Add Comment</a>
          <% } %>
        </div>
        <div class="card-body">
          <% comments.forEach(function(comment){ %>
              <div style="margin-bottom: 5px"><%= comment.content %>
                <% if (user && user.coach) { %>
                <form action="/students/<%= profile.id%>/comment/<%= comment.id %>?_method=DELETE" method="POST" style="display:inline; float:right"><button class="badge badge-dark">Delete</button></form>
                <% } %>
              </div>
          <% }) %>

          <form action="/students/<%= profile.id %>/comment" method='POST' id="commentSection" style="display:none">
            <script>
             $('#addCommentButton').click(function(){
              $('#commentSection').slideToggle()
             })
            </script>
            <textarea placeholder="Add a comment to this student" rows="4" class="form-control" id="commentText" name="comment"></textarea>
            <p></p>
            <button class="btn btn-sm btn-success">Add</button>
            <button type="button" id="clearComment" class="btn btn-sm btn-secondary">Clear</a>
            <script>
              var clear = document.getElementById('clearComment');
              var comment = document.getElementById('commentText');
              clear.addEventListener("click", function(){
                comment.value = "";
              })
            </script>
          </form>
        </div>
      
      </div>
    </div>

    <!-- student performance -->
    <div class="col-md-4 performance">
        <!-- Year Control -->
        <div class="container-fluid">
          <div class="row">
            <% if (performance) { %>
            <h4 class="mr-3">Data of <%= performance.year %></h4>
            <% } %>
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Year Option
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/students/<%= profile.id %>?year=2019">2019</a>
                <a class="dropdown-item" href="/students/<%= profile.id %>?year=2018">2018</a>
                <a class="dropdown-item" href="/students/<%= profile.id %>?year=2017">2017</a>
              </div>
            </div>
          </div>
        </div>

      <% if (performance) { %>
        <table class="table">
          <col width="40%">
          <col width="60%">
          <thead>
            <tr>
              <th>Test</th>
              <th>Performance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="performance-label">1st Bench Press</td>
              <td class="performance-value"><%= performance.bench_press_first || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">2nd Bench Press</td>
              <td class="performance-value"><%= performance.bench_press_second || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">Broad</td>
              <td class="performance-value"><%= performance.broad || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">Vertical</td>
              <td class="performance-value"><%= performance.vertical || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">40:1st</td>
              <td class="performance-value"><%= performance.forty_first || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">40:2nd</td>
              <td class="performance-value"><%= performance.forty_second || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">Shuttle:1st L</td>
              <td class="performance-value"><%= performance.shuttle_first_L || 'N/A' %></td>
            </tr>
            <tr>
              <td class="performance-label">Shuttle:2nd R</td>
              <td class="performance-value"><%= performance.shuttle_second_R || 'N/A' %></td>
            </tr>
          </tbody>
        </table>
        <!-- button for modifying data -->
        <% if (user && user.coach) { %>
          <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#addPerformance">Add Performance</button>
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#updatePerformance">Edit Current Year</button>
        <% } %>
      <% }else{ %>
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-5">No Record This Year</h1>
          <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#addPerformance">Add Performance</button>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>


<% include ../partials/modal/deleteStudent %>
<% include ../partials/modal/addPerformance %>
<% if (performance) { %>
<% include ../partials/modal/updatePerformance %>
<% } %>

<script src="/javascript/students/show.js"></script>

<% include ../partials/footer %>