<% include ../partials/header %>

<div class="users container">
  <div class="row">
    <table class="table table-strip">
      <thead>
        <tr>
          <th>Name</th>
          <th>Coach</th>
          <th>Administrator</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(account){ %>
          <tr>
            <td><%= account.name %></td>
            <td>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" 
                       data-user-id="<%= account.id %>" name="coach" id="coach-<%= account.id %>" 
                       <%= (account.developer || user.id == account.id) ?  "disabled" : "" %>
                       <%= account.coach ? 'checked' : '' %>>
                <label class="custom-control-label" for="coach-<%= account.id %>"> &nbsp;</label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-switch d-inline">
                <input type="checkbox" class="custom-control-input" 
                       data-user-id="<%= account.id %>" name="admin" id="admin-<%= account.id %>" 
                       <%= (account.developer || user.id == account.id) ?  "disabled" : "" %>
                       <%= account.admin ? 'checked' : '' %>>
                <label class="custom-control-label" for="admin-<%= account.id %>"> &nbsp;</label>
              </div>
            </td>
            <td>
              <button>Delete</button>
              <button>Email</button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('input').on('change', function(evt) {
    var input = $(this);
    var data = {};
    var isChecked = input.prop('checked')
    data[input.attr('name')] = isChecked;
    $.post({
      url: "/users/" + input.attr('data-user-id') + "/role/update?_method=PUT",
      data: data
    })
    .done(function(response) {
      console.log(response);
    })
    .fail(function(response, text, xhr) {
      var alert = $('<div>').addClass('alert alert-danger').attr('role', 'alert');
      switch (response.status) {
        case 403: 
          alert.html('<strong>Unauthorized: </strong> You Cannot Perform This Action With Your Current Role');
          break;
        case 400:
          alert.html('<strong>Bad Request: </strong> Server Cannot Parse Your Request');
          break;
        default: 
          alert.html('<strong>Internal Server Error: </strong>Unable to Update User Role');
      }
      setTimeout(function(){
        input.prop('checked', !input.prop('checked'));
        $('.container.flash').append(alert);
      }, 200);
      setTimeout(function(){
        alert.remove();
      }, 2000)
    })
  })

  $('.custom-switch').off('click').on('click', function(evt) {
    if($(this).children('input').prop('disabled')) {
      var alert = $('<div>').addClass('alert alert-info').attr('role', 'alert').html("<strong>Warning: </strong> Cannot change developer's role, or yourself");
      $('.container.flash').append(alert);
      setTimeout(() => {
        alert.remove();
      }, 2000);
    }
  })
</script>

<% include ../partials/footer %>